@import "../external-source/fontawesome-free-5.7.2-web/css/all.min.css";

/* Global settings */
body
{
	font: 15px / 1.5 Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.center-container
{
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #494343;
}

ul
{
	margin: 0;
	padding: 0;
}

.button_1
{
	height: 38px;
	background-color: #262424;
	border: none;
	padding: 0px 20px 0px 20px;
	color: #eeeeee;
	
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.button_1:hover
{
	color: #aaaaaa;
}

.button_2
{
	font-size: 20px;
	background-color: #262424;
	border: #eeeeee solid 3px;
	margin: 10px 0px;
	padding: 3px 20px 3px 20px;
	color: #eeeeee;

	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}

.button_2:hover
{
	background-color: #eeeeee;
	border: #545151 solid 3px;
	color: #262424;
}

.button_3
{
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 10px 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 10px 0px;

	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button_3:hover
{
	color: #262424;
	border: 2px solid #fdfdfd;
	background-color: #4caf50;
}

.dark
{
	padding: 15px;
	color: #eeeeee;
	background-color: #262424;
	margin: 10px 0 10px 0;
}

.dark-overlay
{
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%; height: 100%;
}

.fancy-overlay
 {
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(135deg, rgba(23, 255, 6, 0.3), rgba(66, 44, 38, 0.8));
	width: 100%; height: 100%;
 }

/* Sidebar */
aside.sidebar
{
	float: right;
	width: 30%;
	margin-top: 10px;
}

/* Sidebar */
aside.sidebar form input, aside.sidebar form textarea
{
	width: 90%;
	padding: 5px;
}

/* Main column */
article.main-col
{
	float: left;
	width: 65%;
}

ul#products li
{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}

.footer-notice
{
	background-color: #262424;
	color: #eeeeee;
	border-top: #4caf50 3px solid;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	z-index: 100;
}

.footer-notice button
{
	width: 100px;
	float: right;
	padding: 10px;
	margin: 0 10px 10px;
}

.footer-notice a
{
	color: #4caf50;
	
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.footer-notice a:hover
{
	color: #aaaaaa;
}