header
{
	background-color: #262424;
	color: #eeeeee;
	padding-top: 20px;
	min-height: 80px;
	border-bottom: #4caf50 3px solid;
}

header nav
{
	float: right;
	margin-top: 15px;
}

header a
{
	color: #eeeeee;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;

	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

header li
{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding
{
	float: left;
	font-size: 20px;
	cursor: pointer;
}

header #branding h1
{
	margin: 0;
}

header .highlight, header .current a
{
	color: #4caf50;
}

header a:hover
{
	color: #cccccc;
}

header .current a:hover
{
	color: #397339;
}