/* Mobile phone nav bar button style */
.menu-button
{
    display: none;
    cursor: pointer;
    margin: 5px 20px;
    position: fixed;
    top: 15px;
    right: 40px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border-radius: 3px;
    -moz-border-radius: 3px; /* Old Firefox */
}

.menu-button:hover
{
    background-color: rgba(255, 255, 255, .3);
}

.menu-button div
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.menu-button.toggle div.line1
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-button.toggle div.line2
{
    opacity: 0;
}

.menu-button.toggle div.line3
{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Media queries */
@media(max-width: 650px)
{
    header
    {
        position: fixed;
        z-index: 10;
        width: 100%;
        padding: 10px 0 0 0;
        min-height: 30px;
    }

    header #branding
    {
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        width: 60%;
        margin: 0;
        padding: 0;
    }

    header nav
    {
        z-index: 3;
        background-color: #262424;
    }

    header nav ul
    {
        z-index: 3;
        margin: 0;
        padding: 10px 0;
        top: 35px;
        right: 0;
        width: 150px;
        height: auto;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        background-color: #262424;

        transform: translateY(-100%);

        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    header nav ul.active
    {
        transform: translateX(0%);
    }

    header nav li
    {
        margin: 10px 10px;
        opacity: 0;
    }

    #showcase h1
    {
        margin-top: 150px;
        font-size: 20px;
    }

    #showcase p
    {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .banner h1
    {
        font-size: 20px;
    }

    .account .dark-box
    {
        margin-top: 130px;
        width: 100%;
        max-width: 300px;
        padding: 20px 3%;
    }

    .account .dark-box.large
    {
        max-width: 350px;
        width: 100%;
    }

    .account .dark-box.large h1
    {
        font-size: 20px;
    }

    .menu-button
    {
        z-index: 5;
        display: block;
    }

    .announcement
    {
        margin-left: -200px;
    }

    .announcement .body
    {
        width: 400px;
    }
}

/* Super small device control */
@media(max-width: 400px)
{
    header
    {
        height: 60px;
    }

    header #branding
    {
        display: none;
    }

    .container
    {
        width: 100%;
    }

    .account .dark-box
    {
        width: 100%;
        padding: 20px 3%;
    }

    .announcement
    {
        margin-left: -150px;
    }

    .announcement .title
    {
        font-size: 20px;
    }

    .announcement .body
    {
        width: 300px;
        padding: 0;
    }

    #showcase h1
    {
        margin-top: 110px;
        font-size: 20px;
    }

    #showcase p
    {
        font-size: 15px;
        margin: 0px auto 20px auto;
    }
}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }

    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
