.overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 350px;
}

.overlay .box {
    display: inline-block;
    margin: 10px;
    width: 80%;
    color: #e5e5e5;
    border: #a19f9a 5px solid;
    background: #4f4f4f;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.overlay .box:hover {
    opacity: 100%;
    border: #4caf50 5px solid;
    background: #262626;
}

.overlay .go-top {
    width: 60px;
    height: 60px;
    margin-left: 60%;
    text-align: center;
    display: none;
}

.overlay .go-top img {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
    transform: rotate(45deg) translate(60%, 60%);

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.overlay .go-top:hover img {
    transform: rotate(45deg) translate(40%, 40%);
}

.overlay .sidebar {
    height: 150px;
    text-align: left;
    opacity: 50%;
}

.overlay .sidebar h1,
.overlay .sidebar h3 {
    margin: 5px 10px;
}

.overlay .sidebar h1 {
    width: 180px;
    border-bottom: #afaea7 2px solid;
    margin: 10px 10px 20px;
}

.overlay .sidebar:hover h1 {
    border-bottom: #4caf50 2px solid;
}

.overlay .sidebar h2 {
    float: right;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.overlay .sidebar:hover h2 {
    color: #af423d;
}

.overlay .sidebar h2:hover {
    color: #af0b0e;
    transform: scale(1.5);
}

.overlay .sidebar a {
    color: inherit;
}

.overlay .sidebar:hover a {
    color: #d3f6c4;
}

.overlay .sidebar a:hover {
    color: #4caf50;
}
