.sections {
    color: #f8eeee;
    border-bottom: #4caf50 3px solid;
    background-color: #376f3b;
    text-align: center;
}

.sections .group {
    display: inline;
}

.sections .box {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    margin: 10px 1% 70px 1%;
    padding: 1%;
    width: 250px;
    height: 500px;
    border: #4caf50 5px solid;
    background-color: #1b1e1c;
    overflow: auto;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.sections .box:hover {
    transform: scale(1.1);
}

/* width */
.sections ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.sections ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sections ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.sections ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sections .box h1 {
    text-align: center;
    width: 80px;
    border-bottom: #4caf50 3px solid;
}

.sections .box .post {
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: #262424 3px solid;
    background-color: #191717;
    max-height: 130px;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.sections .box .post:hover {
    background-color: #0f0d0d;
}

.sections .box .post img {
    vertical-align: top;
    display: inline;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.sections .box .post .text{
    display: inline-block;
    padding: 0;
    width: 150px;
}

.sections .box .post .text h3,
.sections .box .post .text p{
    margin: 0;
    padding: 0;
}