/* Showcase */
#showcase
{
	min-height: 500px;
	background-size: cover, cover;
	position: relative;
	text-align: center;
	overflow: hidden;
}

#showcase div
{
	position: absolute;
	overflow: visible;
	cursor: pointer;
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0);

	-webkit-transition-duration: 1s; /* Safari */
	transition-duration: 1s;
}

#showcase div:hover
{
	background-color: rgba(0, 0, 0, 0.5);
}

/* Showcase */
#showcase h1
{
	margin: 130px auto 10px auto;
	font-size: 50px;
}

/* Showcase */
#showcase h1 .highlight
{
	color: #4caf50;
	font-weight: bold;
}

/* Showcase */
#showcase p
{
	width: 80%;
	margin: 50px auto 100px auto;
	padding: 0 5%;
	font-size: 20px;
}

#showcase ul
{
	position: absolute;
	text-decoration: none;
	width: 100%;
	top: 450px;
}

#showcase li
{
	color: #ffffff;
	overflow: visible;
	display: inline;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border: #cccccc solid 2px;
	vertical-align: central;

	-webkit-transition-duration: .3s; /* Safari */
	transition-duration: .3s;
}

#showcase li.highlighted
{
	color: #4caf50;
	background-color: rgba(0, 0, 0, 0.5);
	border: #4caf50 solid 2px;
}

#showcase li:hover
{
	color: #aaaaaa;
	background-color: rgba(0, 0, 0, 0.5);
	border: #aaaaaa solid 2px;
}